pip install requests
!pip uninstall -y sentence-transformers huggingface_hub torchcodec
!pip install --upgrade sentence-transformers huggingface_hub datasets chromadb scikit-learn
!pip install -q torch sentence-transformers chromadb scikit-learn numpy pandas plotly umap-learn pyyaml datasets tqdm seaborn matplotlib